body {
    font-family: Arial, Helvetica, sans-serif;    
}

header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
}

header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;    
}

header a.activo {
    background-color: #ff9e1e;
    color: white;
}

header .menu-derecha a:hover{
    background-color: #fac259;
    color: white;
}

header .menu-derecha {
    float:right;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff9e1e;
    color: white;
    text-align: center;
}

section {
    border:1px solid #ff9e1e;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}

section article {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    border: 1px dashed #adabab;
}

section article p {
    margin:5px;
    font-size: 16px;
}

section article img {
    width: 150px;
    margin-right: 10px;
    float: left;
}

.form {
    border: 1px solid #fac259;
}

.form input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #686666;
    box-sizing: border-box;
}

.contenedor {
    padding: 20px;
}

.contenedor p {
    font-weight: bold;
}

.registro {
    padding: 20px;
    border: 1px solid #fac259;
}

.registro input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #686666;
    box-sizing: border-box;
    margin-right: 10px;
}

.registro .botonera {
    text-align: right;
}

.registro button {
    color: white;
    padding: 14px 20px;
    border: none;
    border: 1px solid #686666;
    box-sizing: border-box;
}

.registro button[type=submit]{ background-color: #ff9e1e; }
.registro button[type=button]{ background-color: #1e75c7; }

.registro label {
    font-weight: bold;
}

.form button {
    background-color: #2463f6;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    float: left;
}

.form .error {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid red;
    box-sizing: border-box;
}

.form button:hover {
    opacity: 0.8;
}

.contenedorAvatar {
    text-align: center;
    margin: 24px 0 12px 0;
}

.contenedorAvatar img.avatar {
    width: 20%;
    border-radius: 50%;
}

.contenedorLogin {
    padding: 16px;
}

.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0, 0, 0, 0.4);
   padding-top: 60px;
}

.modalform {
    background-color: #fefefe;
    margin: 5px auto;
    width: 60%;
}

.cerrar {
    position: absolute;
    right: 20.5%;
    top: 60px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.cerrar:hover, 
.cerrar:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0);}
    to {-webkit-transform: scale(1);}
}

@keyframes animatezoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

/* Plugins Easyzoom */
.easyzoom {
    float: left;
}
.easyzoom img {
    display: block;
}


/* Shrink wrap strategy 2 */
.easyzoom {
    display: inline-block;
}
.easyzoom img {
    vertical-align: bottom;
}